@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Changan Bold";
  src: local("CHANGANUNITYPE-BOLD"),
    url("./assets/fonts/CHANGANUNITYPE-BOLD.otf") format("truetype");
}

@font-face {
  font-family: "Poppin";
  src: local("Poppins-Regular"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

body {
  @apply font-poppin;
}

.header-text {
  @apply text-header md:text-[24px] lg:text-[48px];
}

.body-text {
  @apply text-body md:text-[18px] lg:text-[24px];
}
